body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #60a3bc !important;
}

.app {
  margin: 50px;
}

.title {
  padding: 10px;
  text-align: center;
}

#prompt-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 250px;
  width: 45%;
}

@media only screen and (max-width : 1200px) {
  .prompt-row {
    width: 60%;
  }
}

.prompt {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-button {
  color: #f39c12;
}

.prompt-button:hover {
  color: #60a3bc;
  cursor:pointer;
}

#prompt-text {
  font-size: 45px;
}

img {
  height: 250px;
}

#dap-logo {
  height: auto;
  width: 200px;
  margin-bottom: -90px;
  margin-top: -90px;
}

#dap-navbar {
  background: #f39c12;
  color: #60a3bc;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.likedText {
  vertical-align: super;
  color: red;
}

#nav-user-dropdown {
  color: white;
}

#nav-user-dropdown::after {
  display: none;
}
