body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  margin: 50px;
}

.title {
  padding: 10px;
  text-align: center;
}

#prompt-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #f39c12;
  height: 250px;
  width: 45%;
}

@media only screen and (max-width : 1200px) {
  .prompt-row {
    width: 60%;
  }
}

.prompt {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-button {
  color: white;
}

.prompt-button:hover {
  color: #60a3bc;
  cursor:pointer;
}

#prompt-text {
  font-size: 45px;
}

img {
  height: 250px;
}

#image-tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#add-image-icon {
  height: 50px;
  filter: invert(61%) sepia(59%) saturate(904%) hue-rotate(354deg) brightness(99%) contrast(92%);
  /*background-color: #f39c12;*/
}

#add-image-icon:hover {
  cursor:pointer;
  filter: invert(42%) sepia(5%) saturate(3454%) hue-rotate(151deg) brightness(106%) contrast(81%);

}

#image-modal-header {
  background: #f39c12;
  color: #4a8094;
}

#imageDescription {
  width: 100%;
}

#image-upload-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#dap-logo {
  height: auto;
  width: 200px;
  margin-bottom: -90px;
  margin-top: -90px;
}

#dap-navbar {
  background: #f39c12;
  color: #60a3bc;
}

#comment-container {
  width: 100%;
}

#image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-layout-container {
  width: 60%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.user-image {
  width: 100%;
  height: auto;
  border-style: solid;
  border-color: #d2d0d0;
}

.comment-input-box {
  width: 100%;
  border-top-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #d2d0d0;
}

.comment-layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #d2d0d0;
}

#comment-icon-container {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#delete-icon:hover {
  color: red;
  cursor: pointer;
}

#edit-icon:hover {
  color: #f39c12;
  cursor: pointer;
}

#cancel-button {
  background: #c0392b !important;
  color: white !important;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.likedText {
  vertical-align: super;
  color: red;
}

#nav-user-dropdown {
  color: white;
}

#nav-user-dropdown::after {
  display: none;
}

#nav-user-dropdown:hover {
  color: #4a8094;
}
